.leftcolumn
{
    display: none;
}
.main
{
    background-color: #FFFFFF;
    border: none;
    border-radius: 0;
    box-shadow: 0 0 0 #FFF;
    margin: 0px;
}
.header
{
    display:none;     
}
.headermenu
{
    display:none;     
}
.pageHeader
{
    display:none;     
}
.list
{
    height:auto!important;     
}
h2
{
    margin-top:0;
    margin-bottom:0;      
}
