
@font-face {
    font-family: "Roboto";
    src: local(Roboto Thin), url("../font/roboto/Roboto-Thin.woff2") format("woff2"), url("../font/roboto/Roboto-Thin.woff") format("woff"), url("../font/roboto/Roboto-Thin.ttf") format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: "Roboto";
    src: local(Roboto Light), url("../font/roboto/Roboto-Light.woff2") format("woff2"), url("../font/roboto/Roboto-Light.woff") format("woff"), url("../font/roboto/Roboto-Light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src: local(Roboto Regular), url("../font/roboto/Roboto-Regular.woff2") format("woff2"), url("../font/roboto/Roboto-Regular.woff") format("woff"), url("../font/roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url("../font/roboto/Roboto-Medium.woff2") format("woff2"), url("../font/roboto/Roboto-Medium.woff") format("woff"), url("../font/roboto/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: url("../font/roboto/Roboto-Bold.woff2") format("woff2"), url("../font/roboto/Roboto-Bold.woff") format("woff"), url("../font/roboto/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    font-family: "Roboto", sans-serif !important;
    font-size: 13px;
    color: #333;
}

a {
    color: #333;
    text-decoration: none;
}

    a img {
        border: none;
    }

h1 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 20px;
    padding: 10px 10px;
}

input[type=text], input[type=password], select {
    border: solid 1px #ddd;
    width: 250px;
    padding: 8px 8px 8px 8px;
    background: rgba(255, 255, 255, 0.3);
    height: 40px;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    appearance: textfield;
    font-weight: 400;
    outline: none;
    border-radius: 3px;
}

    input[type=text].date {
        width: 100px !important;
    }

    input[type=text]:focus, input[type=password]:focus, textarea:focus {
    }

textarea {
    border: solid 1px #ddd;
    line-height: 25px;
    width: 100%;
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 12px;
    padding: 3px;
}

input.searchBox {
    border-radius: 5px;
    padding-left: 5px;
}

.dropdown {
    border-radius: 5px;
    padding-left: 5px;
    cursor: pointer;
    padding: 8px 8px 8px 8px;
    background: rgba(255, 255, 255, 0.3);
    height: 40px !important;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    appearance: textfield;
    font-weight: 400;
    outline: none;
    border-radius: 3px;
}

input.dropdown {
    height: 40px;
    line-height: 40px;
}

select.dropdown, select {
    padding-top: 2px;
    padding-right: 2px;
    padding: 8px 8px 8px 8px;
    background: rgba(255, 255, 255, 0.3);
    height: 40px !important;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    appearance: textfield;
    font-weight: 400;
    outline: none;
    border-radius: 3px;
    width: 100%;
}

    select.dropdown option, select option {
        padding: 5px 20px;
        line-height: 22px;
        font-size: 13px;
        display: block;
    }

table {
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    width: 100%;
}

.fileUploader {
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity:0);
    z-index: 2;
    width: 200px;
    height: 30px !important;
    position: absolute;
    top: 0;
    left: 0;
}

.fakeUploader {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px !important;
    height: 30px;
    z-index: 1;
}

.uploadButton {
    position: absolute;
    z-index: 1;
    line-height: 28px;
    background-color: #058dc7;
    color: #FFF;
    padding: 0 10px;
    right: 0;
}

.searchIcon {
    font-size: 16px;
    margin-left: -20px;
}

.tblMain {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}

    .tblMain > td {
        padding: 0 !important;
        margin: 0 !important;
    }

.mainContent {
    padding: 0 20px;
}


.pageHeader h1 {
    font-size: 1.5rem;
    line-height: 1.804rem;
    margin: 10px 0 10px;
}

.pageHeader > table, .pageHeader > table > tbody, .pageHeader > form > table, .pageHeader > form > table > tbody {
    display: block;
    width: 100%;
}

    .pageHeader > table > tbody > tr, .pageHeader > form > table > tbody > tr {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

        .pageHeader > table > tbody > tr > td, .pageHeader > form > table > tbody > tr > td {
            display: block;
            width: 100% !important;
        }

            .pageHeader > table > tbody > tr > td > div, .pageHeader > form > table > tbody > tr > td > div {
                position: relative;
                margin: 0 5px;
            }

                .pageHeader > table > tbody > tr > td > div a, .pageHeader > table > tbody > tr > td > div > i {
                    position: absolute;
                    top: 14px;
                    right: 8px;
                }

                .pageHeader > table > tbody > tr > td > div > input.dropdown, .pageHeader > table > tbody > tr > td > input[type="text"], .pageHeader > table > tbody > tr > td > table > tbody > tr > td > select {
                    width: 100% !important;
                }


                .pageHeader > table > tbody > tr > td > div a#aShowCancelled, .pageHeader > table > tbody > tr > td > div a#aShowCancelled i {
                    position: relative;
                    top: auto !important;
                    right: auto !important;
                    margin-left: 5px;
                }

.main {
}

.leftcolumn {
    width: 100%;
    text-align: left;
    position: absolute;
}

    .leftcolumn i {
        font-size: 18px;
        margin: 0;
        padding: 0;
    }

.leftIcons {
    display: flex;
    padding-left: 5px;
}

    .leftIcons div {
        padding: 6px 8px;
    }

    .leftIcons i, .tdEdit a, .newRequest i, .staffInfo i, .icon-edit, .icon-calendar, .icon-chevron-down {
        display: inline-block;
        cursor: pointer;
    }

.leftmenu {
    float: left;
    position: absolute;
    z-index: 999;
    left: 30px;
    display: none;
    border-radius: 0 5px 5px 0;
    padding: 5px;
    padding-left: 15px;
}

.header {
    padding: 8px 3px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.3px;
    font-size: 11px;
    border-bottom: solid 1px #d7d7d7;
}

.headermenu {
    border-bottom: solid 1px #ddd;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo {
    padding: 5px 5px 0 5px;
}

.clearfix {
    height: 0px;
    clear: both;
}

.headermenu .clearfix {
    display: none;
}

.menu {
}

    .menu > ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        width: 100%;
    }

        .menu > ul > li {
            text-align: center;
            position: relative;
            width: 100%;
            font-size: 11px;
            display: block;
            cursor: pointer;
        }

    .menu ul li img {
        width: 30px;
        display: block;
        margin: 0 auto;
        display: none;
    }



    .menu ul li .menuIcon {
        border: solid 1px transparent;
        padding: 8px 5px;
        display: block;
        width: 100%;
        float: none !important;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }

        .menu ul li .menuIcon div:first-child {
            width: 100%;
            display: block;
        }

        .menu ul li .menuIcon .menutitle {
        }

    .menu > ul li .menuIcon > a {
        float: left;
    }

    .menu ul li i.icon-chevron-down {
        font-size: 8px;
    }

    .menu ul li i.mdiICon {
        font-size: 24px;
        display: block;
    }

    .menu ul li:hover {
        background-color: #eee;
    }

    .menu > ul li .menuIcon > a {
        float: left;
    }

    .menu ul li .menuIcon:hover img {
    }

.usersmenu {
}

.menu ul li:hover .dropdown-content {
    display: block;
    opacity: 1;
}

.dropdown-content {
    background-color: #fff;
    margin: 0;
    display: none;
    min-width: 200px;
    max-height: 650px;
    overflow-y: auto;
    opacity: 0;
    position: absolute;
    z-index: 999;
    will-change: width, height;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

    .dropdown-content ul li {
        clear: both;
        color: rgba(0, 0, 0, 0.87);
        cursor: pointer;
        min-height: 30px;
        line-height: 1rem;
        width: 100%;
        text-align: left;
        text-transform: none;
    }

        .dropdown-content ul li a {
            min-width: 150px;
            text-align: left;
            font-size: 14px;
            padding: 10px;
            font-weight: 400;
            display: block;
        }

.divider2 {
    height: 7px;
    background: #f7f7f7;
    background-image: url(images/bg.gif);
    font-size: 0px;
    border: 1px solid #919191;
    border-left: 0px;
    border-right: 0px;
    margin: 0;
    padding: 0;
}

.widget {
    background-color: #FFF;
    border: solid 1px #d7d7d;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    margin: 10px;
}

.widgetContent {
    padding: 5px;
}

.GridTable {
    background-color: #FFF;
    border: solid 1px #ddd;
}

    .GridTable tr:hover {
        background-color: #f5f5f5;
    }

    .GridTable td, .GridTable th {
        padding: 15px 5px;
        font-size: 14px;
    }

    .GridTable td {
        padding: 15px 5px;
        display: table-cell;
        vertical-align: middle;
        border-radius: 2px;
        border-bottom: 1px solid #ddd;
    }

.GridHeader_Default th {
}

.GridTable td a {
    text-decoration: none;
    font-weight: bold;
}

.GridHeader_Default {
    background-color: #fafafa;
    border-bottom: 1px solid #d0d0d0;
}

    .GridHeader_Default a, .GridHeader_Default {
        text-decoration: none;
        font-weight: bold;
    }

        .GridHeader_Default td {
            border-bottom: none;
            padding: 10px 18px;
            border-bottom: 1px solid #111;
        }

        .GridHeader_Default:hover {
            background-color: #fafafa !important;
        }

.GridTable .footer td {
    border-bottom: none;
}

.GridTable .footer .footerTD {
    border-top: solid 1px #e5e5e5;
    background-color: #fafafa;
}

.GridTable .footer:hover {
    background-color: transparent;
}

.trAlternate {
    background-color: #fafafa;
}

.list {
}

.staffContent {
}

.staffImage {
    padding: 5px;
    background-color: #fafafa;
    border: solid 1px #d7d7d7;
    border-radius: 5px;
    box-shadow: 0 0 2px #ccc;
    margin: 0 auto;
    width: 160px;
}

.imageInner {
    width: 148px;
    height: 150px;
    overflow: hidden;
}

.imageAlligment {
    width: 148px;
    height: 150px;
    vertical-align: middle !important;
    text-align: center;
    display: table-cell;
}

.staffImageSmall {
    padding: 3px;
    background-color: #fafafa;
    border: solid 1px #d7d7d7;
    border-radius: 5px;
    box-shadow: 0 0 2px #ccc;
    float: right;
    width: 110px;
}

.imageInnerSmall {
    width: 110px;
    height: 80px;
    overflow: hidden;
}

.imageAlligmentSmall {
    width: 110px;
    height: 80px;
    vertical-align: middle !important;
    text-align: center;
    display: table-cell;
}

.imageInnerSmall img {
    vertical-align: middle !important;
    text-align: center;
}

.staffGeneral {
    float: left;
    font-size: 16px;
    margin-top: 10px;
    line-height: 28px;
    width: 240px;
}

.staffTable td {
}

.staffInfo {
    font-size: 14px;
    line-height: 28px;
}

    .staffInfo table td {
        padding: 5px 10px;
    }

.staffHoursInfo {
    font-size: 22px;
    margin-bottom: 10px;
}

    .staffHoursInfo td {
        padding: 5px 10px;
        line-height: 35px;
    }

.staffInfo div {
    position: relative;
}

.staffInfo span {
    position: absolute;
    background-color: #FFF;
    box-shadow: 0 0 5px #ccc;
    border: solid 1px #ccc;
    padding: 0 5px;
    z-index: 9999;
    display: none;
    top: 0;
    right: -20px;
}

.ddlItem {
    padding: 5px 0;
    padding-left: 5px;
    font-size: 14px;
    line-height: 30px;
}

.ddlSubItem {
    padding: 5px 0;
    padding-left: 15px;
    display: block;
    line-height: 30px;
}

    .ddlSubItem:hover {
        background-color: #ccc !important;
        cursor: pointer;
    }

.ui-datepicker-header {
    height: 20px;
    line-height: 20px;
    padding: 0;
}



.loaderBottom {
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
}

    .loaderBottom img {
        vertical-align: middle;
        margin: 5px;
    }

.topLoader {
    position: absolute;
    top: 0;
    width: 100%;
    display: none;
    text-align: center;
}

.topLoaderContent {
    padding: 5px 15px;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 5px #000;
    font-size: 12px;
    font-weight: bold;
    z-index: 99999999;
    position: relative;
    text-align: center;
    display: inline-block;
    background-color: #058dc7;
    color: #FFF;
}

/* Notification */
.notification {
    position: fixed;
    top: 50px;
    width: 100%;
    display: none;
    text-align: center;
    z-index: 9999999;
}

.notificationContent {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    border: solid 1px #c7c7c7;
    font-size: 13px;
    font-weight: bold;
    z-index: 99999999;
    position: relative;
    text-align: center;
    display: inline-block;
}

.greenNotification {
    background-color: #a2e8a2;
}

.redNotification {
    background-color: #f0a8a8;
}

.yellowNotification {
    background-color: #e8e8a2;
}

/* Drop Down List */

.ddl {
    position: absolute !important;
    display: block;
    background-color: #FFF;
    border: solid 1px #ccc;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    text-align: left;
    margin-left: 2px;
    min-width: 255px;
    z-index: 999;
    max-height: 300px;
    overflow: auto;
    color: #000 !important;
    background-color: #fff;
    margin: 0;
    max-height: 650px;
    overflow-y: auto;
    will-change: width, height;
    width: 100%;
    top: 40px;
}

.kalendae {
    border: solid 1px #ccc;
    box-shadow: 0 0 5px #ccc;
}

.ddl .listitem:hover, .ddl .innerItem:hover {
    background-color: #eee;
    cursor: pointer;
}

.ddl .listitem {
    min-width: 150px;
    text-align: left;
    font-size: 14px;
    padding: 10px;
    font-weight: 600;
    display: block;
}

.ddl .innerItem {
    min-width: 150px;
    text-align: left;
    font-size: 13px;
    padding: 10px;
    padding-left: 35px;
    font-weight: 400;
    display: block;
}

.selected {
    background-color: #eeeeee;
}

/* New Request */
.newRequest, #divBillingTypes {
    margin: 0 0 1rem 0;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
    font-size: 13px;
    border: solid 1px #ddd;
    padding: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}


    .newRequest form table td, #newStaffForm .staffInfo table td {
        padding: 5px 10px;
        min-width: 130px;
        background-color: #FFF;
    }

    .newRequest form > table td > div {
        position: relative;
    }

    .newRequest table td div i.icon-chevron-down {
        position: absolute;
        right: 10px;
        top: 12px;
    }

    .newRequest span.validation {
        position: relative;
        top: 3px;
        left: 5px;
        font-size: 0.8rem;
        color: #FF4081;
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
        transform: translateY(0%);
        display: none;
    }

    .newRequest i {
        cursor: pointer;
    }

    .newRequest .dropdown {
        cursor: default;
    }

    .newRequest input.dropdown, #newStaffForm input[type=text], #newStaffForm input.dropdown {
        width: 100% !important;
    }

.divNewRequestTime {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
}

    .divNewRequestTime b {
        margin-left: 5px;
        position: absolute;
        right: 10px;
        top: 12px;
    }

    .divNewRequestTime i {
        right: 60px;
    }

#trDateFrom .divNewRequestTime span {
    margin-right: 10px !important;
}

.divReccurence {
    width: 100% !important;
    min-width: 100%;
    font-size: 13px !important;
}

#tableButtons {
    width: 100% !important;
}

    #tableButtons td {
        padding: 10px;
    }

.box {
    border: solid 1px #ddd;
}

.divBoxShadow, .box {
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
    border: solid 1px #ddd;
    padding: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    position: relative;
    margin-bottom: 15px;
    width: 100%;
}

fieldset > legend {
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.divReccurence .box {
    margin: 10px;
    padding: 10px;
}

.tempBlue {
    background-color: #e5f7ff;
}

.box [type="checkbox"]:not(:checked), input[type="checkbox"]:checked, input[type="radio"]:not(:checked), input[type=radio]:checked {
    position: relative;
    visibility: visible;
    left: 0;
}

/* Event Log */
.GridTableEvents tr:hover {
    background-color: #fafafa;
}

.GridTableEvents td, .GridTableEvents th {
    padding: 5px 5px;
    font-size: 12px;
}

.GridTableEvents td {
    height: 30px;
}

.GridTableEventsHeader td {
    border-bottom: none;
    padding: 10px 5px;
    height: 0;
}

.GridTableEvents td a {
    text-decoration: underline;
    font-weight: bold;
}

.EventLog .red {
    background-color: transparent;
    color: #d74937;
    border: none;
}

    .EventLog .red a {
        color: #d74937;
    }

.EventLog .blue {
    background-color: transparent;
    color: #058dc7;
    border: none;
}

    .EventLog .blue a {
        color: #058dc7;
    }

.EventLog .yellow {
    background-color: transparent;
    color: #AB8B00;
    border: none;
}

    .EventLog .yellow a {
        color: #ddb541;
    }

.EventLog .green {
    background-color: transparent;
    color: #50b432;
    border: none;
}

    .EventLog .green a {
        color: #50b432;
    }

.EventLog .black {
    background-color: transparent;
    color: #000;
    border: none;
}

    .EventLog .black a {
        color: #000;
    }

.EventLog .sky {
    background-color: transparent;
    color: #4fbfff;
    border: none;
}

    .EventLog .sky a {
        color: #4fbfff;
    }

.EventLog .pink {
    background-color: transparent;
    color: #ff4fa2;
    border: none;
}

    .EventLog .pink a {
        color: #ff4fa2;
    }

.EventLog .grey {
    background-color: transparent;
    color: #696969;
    border: none;
}

    .EventLog .grey a {
        color: #696969;
    }

    .EventLog .red:hover, .EventLog .blue:hover, .EventLog .yellow:hover, .EventLog .green:hover, .EventLog .black:hover, .EventLog .sky:hover, .EventLog .pink:hover, .EventLog .grey:hover {
        background-color: #fafafa;
        border-collapse: separate;
    }

.EventLog > div table tr:first-child td {
    text-align: center;
}

.EventLog .GridTableEvents td, .EventLog table td {
    text-align: center;
}

.rightClickBox {
    display: none;
    z-index: 100;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
    border: solid 1px #ddd;
    padding: 0px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

    .rightClickBox ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

        .rightClickBox ul li a {
            padding: 5px 20px;
            line-height: 26px;
            font-size: 13px;
            display: block;
        }

            .rightClickBox ul li a:hover {
                background-color: #eeeeee;
            }

.newShiftBox {
    display: none;
    z-index: 100;
    background-color: #FFF;
    border: solid 1px #ccc;
    box-shadow: 0 0 5px #ccc;
    position: absolute;
    left: 650px;
    top: 350px;
}

.shiftsView {
    /* background-color: #a3b2c2; */
    padding: 5px 5px;
}

.daysTable {
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
    border: solid 1px #ddd;
    padding: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

input.error {
    background-color: #ffd2d2 !important;
}

.tooltip {
    display: none;
    background-color: #FFF;
    border: solid 1px #ccc;
    box-shadow: 0 0 5px #ccc;
    padding: 5px;
}

.button {
    text-decoration: none;
    color: #fff;
    background-color: #058dc7;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    outline: 0;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}

    .button:hover, .topButton:hover {
        box-shadow: 0 0 5px #26799d;
    }

a.button, .topButton, .greenButton, .redButton, .grayButton, .blackButton, .skyButton, .btn {
    text-decoration: none;
    color: #fff;
    background-color: #058dc7;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    outline: 0;
    padding: 0 1rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}

    .topButton i {
        font-size: 16px;
        margin-right: 10px;
        line-height: 36px;
        vertical-align: middle;
    }

.greenButton {
    background-color: #50b432;
}

    .greenButton:hover {
        box-shadow: 0 0 5px #51953c;
    }

.redButton {
    background-color: #d74937;
}

    .redButton:hover {
        box-shadow: 0 0 5px #b2493b;
    }

.grayButton {
    background-color: #cecece;
}

    .grayButton:hover {
        box-shadow: 0 0 5px #ababab;
    }

.blackButton {
    background-color: #272727;
}

    .blackButton:hover {
        box-shadow: 0 0 5px #000;
    }

.skyButton {
    background-color: #4fbfff;
}

    .skyButton:hover {
        box-shadow: 0 0 5px #b2493b;
    }
/* Scheduler */


.shiftSunday {
    background-color: #ffffcc;
    border-bottom: solid 1px #dddddd;
    border-top: solid 1px #dddddd;
}

.shiftToday {
    background-color: #bbccdd;
    border-bottom: solid 1px #dddddd;
    border-top: solid 1px #dddddd;
}

.shiftNormal {
    background-color: #FFF;
    border-bottom: solid 1px #dddddd;
    border-top: solid 1px #dddddd;
}

.dayShift {
    background-color: #e8eef7;
    border-bottom: solid 1px #dddddd;
    border-top: solid 1px #dddddd;
    color: #446688;
    padding: 5px 10px;
    text-align: right;
    padding-left: 20px;
    width: 135px;
}

.td {
    background-color: #FFFFFF;
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
}

    .td:hover, .shiftNormal:hover, .shiftToday:hover, .shiftSunday:hover {
        background-color: #eee;
        cursor: pointer;
    }

.EventLog .shiftToday .sky a, .EventLog .shiftToday .sky {
    color: #058DC7 !important;
}

/* Shifts */

#divShiftDetails div.list {
    width: 100% !important;
    min-width: 600px;
}

    #divShiftDetails div.list > div, #divShiftDetails div.list > div .shiftDetails {
        width: 100% !important;
    }

        #divShiftDetails div.list > div[style="width: 560px"] {
            max-width: 600px;
        }

        #divShiftDetails div.list > div .shift {
            width: 99.5%;
            margin: 0 0 15px 0 !important;
        }

.staffForAssign, #shiftNotes {
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
    font-size: 13px;
    border: solid 1px #ddd;
    padding: 10px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}


fieldset.box {
    border: none;
    background-color: none;
}

#trBillingTypes, #trRates {
    background-color: #FFF !important;
}

    #trRates input[type="text"] {
        width: 100px !important;
        height: 30px !important;
        margin-left: 5px;
    }

.shift {
    border-radius: 5px;
    box-shadow: 1px 1px 3px #333;
    text-align: left;
    border-collapse: separate;
}

.shiftHeader {
    position: relative;
}

.shiftDetails {
    border-radius: 0 0 4px 4px;
    font-size: 13px;
}

    .shiftDetails table td {
        padding: 3px 3px;
    }

.pageHeader.shiftHeader > table > tbody > tr > td:nth-child(2) {
    width: 0px !important;
}

.shiftHeader .divTabs {
    position: absolute;
    left: 340px;
    top: 0;
    width: 100px;
    height: 40px;
    border: none;
    background-color: transparent;
    float: none;
}

.QualificationsRequired {
}

    .QualificationsRequired .icon-ok-sign, .PopUp .icon-ok-sign {
        color: #00ff00;
        margin-right: 5px;
        cursor: default;
        text-shadow: 0 0 2px #000;
        font-size: 13px;
    }

    .QualificationsRequired .icon-minus-sign, .PopUp .icon-minus-sign {
        color: #ff0000;
        margin-right: 5px;
        cursor: default;
        text-shadow: 0 0 2px #000;
        font-size: 13px;
    }

.ratesInfo td {
    padding: 5px;
}

.ddlRed {
    background-color: #d74937;
}

.red {
    border: solid 1px #b2493b;
    background-color: #b2493b;
}
/*.trListView.red {
    background-color:#F2DEDE;
    border-color:#EED3D7; 
}*/
.trListView.shift {
    box-shadow: none;
    color: #FFF;
}

    .trListView.shift a {
        color: #FFF;
    }

.trListView .shiftDetails {
    border-radius: 0;
}

.red:hover {
    box-shadow: 1px 1px 5px #b2493b;
}

.red .shiftTitle {
    background-color: #b2493b;
    color: #FFF;
    font-weight: bold;
    font-size: 10px;
    padding: 0 5px 0 5px;
}

.red .shiftDetails {
    background-color: #d74937;
    color: #FFF;
    padding: 5px 5px 3px 5px;
}

.shiftDetails a {
    color: #FFF;
    text-decoration: none;
    font-weight: normal;
}

    .shiftDetails a:hover {
        text-decoration: underline;
    }

.ddlBlue {
    background-color: #058dc7;
}

.blue {
    border: solid 1px #26799d;
    background-color: #26799d;
}
    /*.trListView.blue {
    background-color:#D9EDF7;
    border-color:#BCE8F1; 
}*/
    .blue:hover {
        box-shadow: 1px 1px 5px #26799d;
    }

    .blue .shiftTitle {
        background-color: #26799d;
        color: #FFF;
        font-weight: bold;
        font-size: 10px;
        padding: 0 5px 0 5px;
    }

    .blue .shiftDetails {
        background-color: #058dc7;
        color: #FFF;
        padding: 5px 5px 3px 5px;
    }

.ddlSky {
    background-color: #4fbfff;
}

.sky {
    border: solid 1px #b2493b;
    background-color: #4fbfff;
}
    /*.trListView.sky {
    background-color:#ecf8ff; 
}*/
    .sky .shiftTitle {
        background-color: #b2493b;
        color: #FFF;
        font-weight: bold;
        font-size: 10px;
        padding: 0 5px 0 5px;
    }

    .sky .shiftDetails {
        background-color: #4fbfff;
        color: #FFF;
        padding: 5px 5px 3px 5px;
    }

    .sky:hover {
        box-shadow: 1px 1px 5px #4fbfff;
    }

.ddlYellow {
    background-color: #ddb541;
}

.yellow {
    border: solid 1px #b2493b;
    background-color: #ddb541;
}
    /*.trListView.yellow {
    background-color:#FCF8E3;
    border-color:#FBEED5; 
}*/
    .yellow:hover {
        box-shadow: 1px 1px 5px #dbb956;
    }

    .yellow .shiftTitle {
        background-color: #b2493b;
        color: #FFF;
        font-weight: bold;
        font-size: 10px;
        padding: 0 5px 0 5px;
    }

    .yellow .shiftDetails {
        background-color: #ddb541;
        color: #FFF;
        padding: 5px 5px 3px 5px;
    }

.ddlPink {
    background-color: #ff4fa2;
}

.pink {
    border: solid 1px #b2493b;
    background-color: #b2493b;
}

    .pink .shiftTitle {
        background-color: #b2493b;
        color: #FFF;
        font-weight: bold;
        font-size: 10px;
        padding: 0 5px 0 5px;
    }

    .pink .shiftDetails {
        background-color: #ff4fa2;
        color: #FFF;
        padding: 5px 5px 3px 5px;
    }

.ddlBlack {
    background-color: #000;
}

.black {
    border: solid 1px #000;
    background-color: #000;
}
    /*.trListView.black {
    background-color:#ccc;
    border-color:#ccc; 
}*/
    .black .shiftTitle {
        background-color: #000;
        color: #FFF;
        font-weight: bold;
        font-size: 10px;
        padding: 0 5px 0 5px;
    }

    .black:hover {
        box-shadow: 1px 1px 5px #000;
    }

    .black .shiftDetails {
        background-color: #272727;
        color: #FFF;
        padding: 5px 5px 3px 5px;
    }

.ddlGreen {
    background-color: #50b432;
}

.green {
    border: solid 1px #51953c;
    background-color: #51953c;
}
    /*.trListView.green {
    background-color:#DFF0D8;
    border-bottom:solid 1px #D6E9C6!important; 
}*/
    .green:hover {
        box-shadow: 1px 1px 5px #51953c;
    }

    .green .shiftTitle {
        background-color: #51953c;
        color: #FFF;
        font-weight: bold;
        font-size: 10px;
        padding: 0 5px 0 5px;
    }

    .green .shiftDetails {
        background-color: #50b432;
        color: #FFF;
        padding: 5px 5px 3px 5px;
    }

.gray .shiftDetails {
    background-color: #aaaaaa;
    color: #FFF;
    padding: 5px 5px 3px 5px;
}

.trListView.shift:hover {
    box-shadow: 1px 1px 3px #000;
}

/* Notes */
.divNote .staffInfo {
    font-size: 13px;
}

.divNotesInner .staffInfo {
    font-size: 13px;
}

.divNote {
    border: solid 1px #ccc;
    background-color: #FFF;
    margin: 10px;
}

.noteHeader {
    font-size: 16px;
    line-height: 35px;
    margin: 0 15px;
}

.noteBody {
    padding: 5px 0;
    margin: 0 15px;
}

.noteFooter {
    text-align: right;
    border-top: solid 1px #e9e9e9;
    padding: 5px;
    margin: 0 15px;
    color: #999999;
}

.notesTable {
    margin-bottom: 5px;
}

    .notesTable td {
        padding: 5px;
        line-height: 20px;
    }

    .notesTable tr:hover {
        background-color: #fafafa;
    }

#tdStaffTable {
    width: 100% !important;
}

#divNotesList .divNote {
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
    font-size: 13px;
    border: solid 1px #ddd;
    padding: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin: 15px 0px;
}

/* Client Management */
.ClientRates input[type=text] {
    width: 100px;
    text-align: right;
    padding-right: 5px;
}

.ClientRates tr {
    background-color: #fcfcfc;
    font-weight: bold;
}

.trInnerTable {
    background-color: #FFF !important;
}

    .trInnerTable td {
        height: 30px !important;
        padding-left: 30px;
        font-weight: normal;
        font-size: 11px;
    }

    .trInnerTable input[type=text] {
        width: 75px;
        line-height: 25px;
        height: 25px;
        text-align: right;
        padding-right: 5px;
    }

.CustomFields i {
    font-size: 18px;
}

/* Popup */

.PopUp, .PopUp2, .pop-up-position {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: table;
    z-index: 9999999;
}

.PopUpBack {
    background-color: #FFF;
    opacity: 0.8;
    filter: alpha(opacity=80); /* internet explorer */
    opacity: 0.8; /* fx, safari, opera, chrome */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=80)"; /*IE8*/
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9999;
}

.PopUpCell {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    display: table-cell;
}

.PopUpBox {
    min-width: 150px;
    margin: 0 auto;
    z-index: 9999;
    position: relative;
    text-align: center;
}

.descriptionPopUp {
    display: inline-block;
    background-color: #FFF;
    border: solid 1px #ededed;
    border-radius: 10px;
    box-shadow: 0 0 10px #666;
}

.PopUpHeader {
    font-size: 15px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    padding: 5px;
    font-weight: bold;
    background-color: #eaeaea;
    border-radius: 10px 10px 0 0;
}

.popUpContent, .popUpContent2 {
    padding: 10px;
    text-align: left;
}

.PopUpClose {
    float: right;
}

/* Ovie treba sekogas najdole vo CSS */
.date {
    background-color: transparent !important;
    border: none !important;
}

    .date:focus {
        box-shadow: none !important;
    }

    .date:disabled {
        color: #000;
    }

.permissions td {
    min-width: 150px;
}

/* Group Shift */
.group {
    width: 115px;
    float: left;
    height: 40px;
    position: relative;
}

.group1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.group2 {
    position: absolute;
    top: 0px;
    left: 5px;
    z-index: 2;
}

.group3 {
    position: absolute;
    top: 0px;
    left: 10px;
    z-index: 3;
}

.group:hover .group2 {
    -moz-transform: rotate(0deg) translate(5px, 1px) scale(1.1);
    -ms-transform: rotate(0deg) translate(5px, 1px) scale(1.1);
    -webkit-transform: rotate(0deg) translate(5px, 1px) scale(1.1);
    transform: rotate(0deg) translate(5px, 1px) scale(1.1);
    z-index: 11;
}

.group:hover .group3 {
    -moz-transform: rotate(0deg) translate(10px, 1px) scale(1.1);
    -ms-transform: rotate(0deg) translate(10px, 1px) scale(1.1);
    -webkit-transform: rotate(0deg) translate(10px, 1px) scale(1.1);
    transform: rotate(0deg) translate(10px, 1px) scale(1.1);
    z-index: 12;
}

.group:hover .group1 {
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 10;
}

.square {
    margin-right: 3px;
    text-align: center;
    font-size: 8px;
    line-height: 12px;
    width: 6px;
    height: 12px;
    float: left;
    font-weight: bold;
}

.noGroup {
    width: 105px;
    float: left;
    height: 40px;
    position: relative;
}

    .noGroup:hover .group1 {
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        z-index: 10;
    }

.required {
    color: Red;
}

.ShiftSeries i {
    font-size: 15px;
}

.tdLinkButton i {
    font-size: 16px;
}

.reportDetails {
    overflow: auto;
    overflow-x: hidden;
}

.customColumns {
    max-height: 360px;
    overflow: auto;
    width: 250px;
    overflow-x: hidden;
    border: solid 1px #ededed;
    position: initial !important;
}

#sortable2, #sortable1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding: 5px;
    min-height: 350px;
    width: 220px;
}

    #sortable2 li, #sortable1 li {
        font-size: 12px;
        height: 18px;
        line-height: 18px;
        margin: 0 3px 3px;
        padding: 1px 5px;
        width: 200px;
    }

        #sortable2 li span, #sortable2 li span {
            margin-left: -1.3em;
            position: absolute;
        }

.buttonSwitch {
    background-color: #fafafa;
    border: solid 1px #333;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 3px #333;
    min-width: 74px;
    font-weight: bold;
}

    .buttonSwitch:hover {
    }

    .buttonSwitch span {
        display: inline-block;
        padding: 5px 10px;
    }

.spanOff {
    border-right: solid 1px #ccc;
}

.buttonSwitch.buttonOn .spanOn {
    background-color: #50b432;
    color: #FFF;
    cursor: default;
    font-weight: bold;
    border-radius: 0 3px 3px 0;
}

.buttonSwitch.buttonOn .spanOff {
    color: #000;
}

.buttonSwitch.buttonOff .spanOff {
    background-color: #d74937;
    color: #FFF;
    cursor: default;
    font-weight: bold;
    border-radius: 3px 0px 0 3px;
}

.buttonSwitch.buttonOff .spanOn {
    color: #000;
}

.buttonSwitch.buttonBlackOff .spanOff {
    background-color: #000;
    color: #FFF;
    cursor: default;
    font-weight: bold;
    border-radius: 3px 0px 0 3px;
}

.buttonSwitch.buttonBlackOff .spanOn {
    color: #000;
}

.settingsItem {
    padding: 18px 20px;
    border-bottom: solid 1px #eee;
}

    .settingsItem:last-child {
        border-bottom: none;
    }

    .settingsItem .settingsTitle {
        display: inline-block;
        width: 200px;
        font-weight: bold;
        font-size: 13px;
    }

.trPayrollRow {
    background-color: #ffcccc !important;
}

.GridTable2 tr:hover {
}

.GridTable2 td, .GridTable2 th {
    padding: 5px 5px;
    font-size: 12px;
}

.GridTable2 td {
    border-bottom: solid 1px #e5e5e5;
    height: 40px;
}

.GridHeader_Default td {
    border-bottom: none;
    padding: 10px 5px;
    height: 0;
}

.GridTable2 td a {
    text-decoration: none;
    font-weight: bold;
}

.GridHeader_Default {
    background-color: #fafafa;
}

    .GridHeader_Default a, .GridHeader_Default {
        text-decoration: none;
        font-weight: bold;
    }

        .GridHeader_Default td {
            font-size: 13px;
            color: #333;
        }

        .GridHeader_Default:hover {
            background-color: #fafafa !important;
        }

.GridTable2 .footer td {
    border-bottom: none;
}

.GridTable2 .footer .footerTD {
    border-top: solid 1px #e5e5e5;
    background-color: #fafafa;
}

.GridTable2 .footer:hover {
    background-color: transparent;
}

.staffBaseRates .icon-flag {
    visibility: hidden;
}

.staffBaseRates tr:hover .icon-flag {
    visibility: visible;
}


#divNewShift table td:first-child {
    padding-right: 20px;
}


/* Staff Details */

.divTabs {
    border: solid 1px #dedede;
    background-color: #fdfdfd;
    border-radius: 3px;
    float: left;
    margin-top: 5px;
}

    .divTabs a {
        display: block;
        padding: 5px 10px;
        float: left;
        color: #333;
        font-size: 13px;
        cursor: pointer;
    }

        .divTabs a:hover {
            background-color: #fefefe;
            border-color: #cacaca;
        }

.activeTab {
    box-shadow: inset 0 0 4px #aaa;
    background-color: #efefef;
}

    .activeTab:hover {
        box-shadow: inset 0 0 4px #aaa;
        background-color: #efefef !important;
        cursor: default;
    }

#divExistingQualifications {
    margin: 0 10px 5px 10px;
}

#divExistingStaffTypes {
    margin: 0 10px 5px 10px;
}

#divAccreditationsCommands {
    text-align: right;
    margin: 5px;
}

.staffGeneral {
    width: 100%;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
    font-size: 14px;
    border: solid 1px #ddd;
    padding: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

    .staffGeneral table td, .staffInfo table td {
        padding: 5px 10px;
        background-color: #FFF !important;
    }

    .staffGeneral i {
        display: inline-block;
        width: 20px;
        text-align: left;
    }

.staffInfo {
    width: 100% !important;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
    font-size: 14px;
    border: solid 1px #ddd;
    padding: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.staffTdLeft {
    width: 250px;
}

#divWorkingExperience {
    width: 100%;
}

table#tblStaffDetails td:nth-child(2), #newStaffForm td:nth-child(2) {
    padding: 0 15px;
}

#divStaffHours {
    padding-left: 0px !important;
}

#divQualifications fieldset div table td {
    width: auto !important;
    line-height: 26px;
}

    #divQualifications fieldset div table td:nth-child(1) {
        width: 200px !important;
    }
